<ion-header>
  <ion-toolbar>
    <ion-title>
    CADASTRO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-img src="../assets/icon/1200px-MarvelLogo.svg.png"></ion-img>

      <ion-label position="floating">Nome de Usuario:</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.nome" placeholder="Insira o seu nome"></ion-input>

      <ion-label position="floating">Email:</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.email" placeholder="Insira o seu email"></ion-input>

      <ion-label position="floating">Senha:</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.senha" placeholder="Insira sua senha"></ion-input>



  <ion-button  expand="full" color="medium" (click)="salvar()" href="home" > Cadastrar </ion-button>


</div>
</ion-content>
