<ion-header>
  <ion-toolbar>
    <ion-title>
      MARVEL ENCICLOPEDIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-img src="../assets/icon/1200px-MarvelLogo.svg.png"></ion-img>

    <p><b>NOME DE USUARIO OU EMAIL:</b></p>
    <ion-input [(ngModel)]="valor" placeholder="Nome de Usuario ou Email:">
      </ion-input>
      <p><b>SENHA:</b></p>
    <ion-input [(ngModel)]="valor2" placeholder="Senha:">
  </ion-input>

    <ion-button  expand="full" color="medium" href="cadastro" > CADASTRE-SE </ion-button>
    <ion-button  expand="full" color="medium" href="opçoes">ENTRAR</ion-button>

</div>




</ion-content>


<ion-footer>

</ion-footer>
