<ion-header>
  <ion-toolbar>
    <ion-title>
      MARVEL ENCICLOPEDIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card >
  <div class="ion-padding">
    <ion-img src="../assets/icon/1200px-MarvelLogo.svg.png"></ion-img>

    <p><b>NOME DE USUARIO OU EMAIL:</b></p>
    <ion-input [(ngModel)]="valor" placeholder="Nome de Usuario ou Email:">
      </ion-input>
      <p><b>SENHA:</b></p>
    <ion-input type="password"[(ngModel)]="valor2" placeholder="Senha:">
  </ion-input>

    <b>Não possui uma conta?</b> <a href="cadastro" > CADASTRE-SE</a><br>
    <ion-button  expand="block" color="danger" href="opçoes">ENTRAR</ion-button>

</div>



</ion-card>
</ion-content>


<ion-footer>

</ion-footer>
